/* You can add global styles to this file, and also import other style files */
:root {
    --qatar1-color: #63a194;
    --qatar2-color: #ffffff;
    --qatar3-color: #e1c396;
    --qatar4-color: #b09677;
    --qatar5-color: #8d1c3d;
  }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--qatar3-color) !important;
}